<div>
  <div class="bv-example-row container">
    <div class="row">
      <div class="my-1 col-md-6">
        <fieldset
          id="__BVID__5"
          role="group"
          aria-labelledby="__BVID__5__BV_label_"
          class="mb-0 b-form-group form-group"
        >
          <div class="form-row">
            <legend id="__BVID__5__BV_label_" class="col-sm-3 col-form-label">
              Buscar
            </legend>
            <div
              role="group"
              aria-labelledby="__BVID__5__BV_label_"
              class="col-sm-9"
            >
              <div role="group" class="input-group">
                <input
                  id="__BVID__6"
                  type="text"
                  placeholder="Buscar"
                  class="form-control"
                />
                <div class="input-group-append">
                  <button
                    type="button"
                    disabled="disabled"
                    class="btn btn-secondary disabled"
                  >
                    Limpiar
                  </button>
                </div>
              </div>
              <!----><!----><!---->
            </div>
          </div>
        </fieldset>
        <br />
      </div>
      <div class="my-1 col-md-6">
        <div class="row">
          <div class="col-md-8">
            <fieldset
              id="__BVID__7"
              role="group"
              aria-labelledby="__BVID__7__BV_label_"
              class="mb-0 b-form-group form-group"
            >
              <div class="form-row">
                <legend
                  id="__BVID__7__BV_label_"
                  class="col-sm-3 col-form-label"
                >
                  Mostrar
                </legend>
                <div
                  role="group"
                  aria-labelledby="__BVID__7__BV_label_"
                  class="col-sm-9"
                >
                  <select id="__BVID__8" class="form-control custom-select">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="50">50</option>
                    <option value="100">100</option></select
                  ><!----><!----><!---->
                </div>
              </div>
            </fieldset>
          </div>
          <div class="col-md-4">
            <p style="margin-top: 6px">
              de <b class="text-success">398</b> Clientes
            </p>
          </div>
        </div>
      </div>
      <table
        id="my-table"
        aria-busy="false"
        aria-colcount="5"
        class="table b-table table-striped table-hover table-sm"
      >
        <!----><!---->
        <thead class="">
          <tr>
            <th
              tabindex="0"
              aria-colindex="1"
              aria-label="Click to sort Descending"
              class="sorting"
            >
              Cliente
            </th>
            <th
              tabindex="0"
              aria-colindex="2"
              aria-label="Click to sort Descending"
              class="sorting"
            >
              Dni Ruc
            </th>
            <th
              tabindex="0"
              aria-colindex="3"
              aria-label="Click to sort Descending"
              class="sorting"
            >
              Direccion
            </th>
            <th
              tabindex="0"
              aria-colindex="4"
              aria-label="Click to sort Descending"
              class="sorting"
            >
              Telefono
            </th>
            <th
              tabindex="0"
              aria-colindex="5"
              aria-label="Click to sort Descending"
              class="sorting"
            >
              Estado
            </th>
            <th
              tabindex="0"
              aria-colindex="5"
              aria-label="Click to sort Descending"
              class="sorting"
            >
              Accion
            </th>
          </tr>
        </thead>
        <!---->
        <tbody class="">
          <!---->
          <tr aria-rowindex="1" class="">
            <td>GRISLY LIZ SALAZAR FLORES</td>
            <td>76445653</td>
            <td></td>
            <td>0</td>
            <td></td>
            <td>
              <button type="button" class="btn btn-primary">
                <font style="vertical-align: inherit"
                  ><font style="vertical-align: inherit">
                    <mat-icon>edit</mat-icon>
                  </font></font
                >
              </button>
              <button type="button" class="btn btn-danger"    mat-icon-button color="warn" >
                <font style="vertical-align: inherit"
                  ><font style="vertical-align: inherit">
                    <mat-icon>delete</mat-icon>
                  </font></font
                >
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="my-1 col-md-6">
          <ul
            role="menubar"
            aria-disabled="false"
            aria-label="Pagination"
            class="my-0 pagination b-pagination pagination-md"
          >
            <li
              role="none presentation"
              aria-hidden="true"
              class="page-item disabled"
            >
              <span class="page-link">«</span>
            </li>
            <li
              role="none presentation"
              aria-hidden="true"
              class="page-item disabled"
            >
              <span class="page-link">‹</span>
            </li>
            <!---->
            <li role="none presentation" class="page-item active">
              <a
                role="menuitemradio"
                tabindex="0"
                aria-label="Goto page 1"
                aria-checked="true"
                aria-posinset="1"
                aria-setsize="40"
                href="#"
                target="_self"
                class="page-link btn-primary"
                >1</a
              >
            </li>
            <li role="none presentation" class="page-item">
              <a
                role="menuitemradio"
                tabindex="-1"
                aria-label="Goto page 2"
                aria-checked="false"
                aria-posinset="2"
                aria-setsize="40"
                href="#"
                target="_self"
                class="page-link"
                >2</a
              >
            </li>
            <li role="none presentation" class="page-item">
              <a
                role="menuitemradio"
                tabindex="-1"
                aria-label="Goto page 3"
                aria-checked="false"
                aria-posinset="3"
                aria-setsize="40"
                href="#"
                target="_self"
                class="page-link"
                >3</a
              >
            </li>
            <li role="none presentation" class="page-item d-none d-sm-flex">
              <a
                role="menuitemradio"
                tabindex="-1"
                aria-label="Goto page 4"
                aria-checked="false"
                aria-posinset="4"
                aria-setsize="40"
                href="#"
                target="_self"
                class="page-link"
                >4</a
              >
            </li>
            <li role="separator" class="page-item disabled d-none d-sm-flex">
              <span class="page-link">…</span>
            </li>
            <li role="none presentation" class="page-item">
              <a
                role="menuitem"
                tabindex="-1"
                aria-label="Goto next page"
                href="#"
                target="_self"
                class="page-link"
                ><span aria-hidden="true">›</span></a
              >
            </li>
            <li role="none presentation" class="page-item">
              <a
                role="menuitem"
                tabindex="-1"
                aria-label="Goto last page"
                href="#"
                target="_self"
                class="page-link"
                ><span aria-hidden="true">»</span></a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row text-center justify-content-center">
      <div class="col-4">
        <button
          type="button"
          class="btn btn-success btn-lg"
          data-bs-toggle="modal"
          data-bs-target="#ModalCliente"
          (click)="(modalregistercliente.toggleAttribute)"
        >
          Nuevo
        </button>
      </div>
    </div>
    <div>
      <form class="">
        <div>
          <div id="modal1___BV_modal_outer_">
            <div
              class="show modal fade"
              #modalregistercliente
              id="ModalCliente"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-lg">
                <div
                  tabindex="-1"
                  role="document"
                  aria-labelledby="modal1___BV_modal_header_"
                  aria-describedby="modal1___BV_modal_body_"
                  class="modal-content"
                >
                  <header id="modal1___BV_modal_header_" class="modal-header">
                    <label class="modal-title">Editar Cliente</label>
                  </header>
                  <div id="modal1___BV_modal_body_" class="modal-body">
                    <div class="row">
                      <div class="col-md-12">
                        <fieldset
                          id="__BVID__14"
                          role="group"
                          class="b-form-group form-group"
                        >
                          <!---->
                          <div role="group" class="">
                            <label>DNI / RUC:</label>
                            <div role="group" class="input-group">
                              <input
                                id="__BVID__15"
                                type="text"
                                required="required"
                                aria-required="true"
                                class="form-control"
                              />
                              <div class="input-group-append">
                                <button type="button" class="btn btn-info">
                                  Buscar
                                </button>
                              </div>
                            </div>
                            <!----><!----><!---->
                          </div>
                        </fieldset>
                        <fieldset
                          id="__BVID__16"
                          role="group"
                          class="b-form-group form-group"
                        >
                          <!---->
                          <div role="group" class="">
                            <label>Nombre del Cliente:</label>
                            <input
                              id="__BVID__17"
                              type="text"
                              required="required"
                              aria-required="true"
                              class="form-control"
                            /><!----><!----><!---->
                          </div>
                        </fieldset>
                        <fieldset
                          id="__BVID__18"
                          role="group"
                          class="b-form-group form-group"
                        >
                          <!---->
                          <div role="group" class="">
                            <label>Nombre Comercial:</label>
                            <input
                              id="__BVID__19"
                              type="text"
                              required="required"
                              aria-required="true"
                              class="form-control"
                            /><!----><!----><!---->
                          </div>
                        </fieldset>
                        <fieldset
                          id="__BVID__20"
                          role="group"
                          class="b-form-group form-group"
                        >
                          <!---->
                          <div role="group" class="">
                            <label>Dirección:</label>
                            <input
                              id="__BVID__21"
                              type="text"
                              class="form-control"
                            /><!----><!----><!---->
                          </div>
                        </fieldset>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <fieldset
                          id="__BVID__22"
                          role="group"
                          class="b-form-group form-group"
                        >
                          <!---->
                          <div role="group" class="">
                            <label>Teléfono:</label>
                            <input
                              id="__BVID__23"
                              type="text"
                              class="form-control"
                            /><!----><!----><!---->
                          </div>
                        </fieldset>
                      </div>
                      <div class="col">
                        <fieldset
                          id="__BVID__24"
                          role="group"
                          class="b-form-group form-group"
                        >
                          <!---->
                          <div role="group" class="">
                            <label>Correo Electrónico:</label>
                            <input
                              id="__BVID__25"
                              type="email"
                              class="form-control"
                            /><!----><!----><!---->
                          </div>
                        </fieldset>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div
                          class="custom-control custom-checkbox custom-control-inline"
                        >
                          <input
                            id="checkbox1"
                            type="checkbox"
                            autocomplete="off"
                            true-value="1"
                            false-value="0"
                            class="custom-control-input"
                            value="1"
                          /><label for="checkbox1" class="custom-control-label">
                            Marcar si es un cliente VIP
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div
                          class="custom-control custom-checkbox custom-control-inline"
                        >
                          <input
                            id="checkbox2"
                            type="checkbox"
                            autocomplete="off"
                            true-value="1"
                            false-value="0"
                            class="custom-control-input"
                            value="1"
                          /><label for="checkbox2" class="custom-control-label">
                            Marcar si es un comisionista
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <footer id="modal1___BV_modal_footer_" class="modal-footer">
                    <div>
                      <button type="submit" class="btn btn-primary">
                        Guardar
                      </button>
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Close
                      </button>
                    </div>
                  </footer>
                </div>
              </div>
            </div>
            <!---->
          </div>
        </div>
      </form>
    </div>
    <br />
  </div>
</div>
