<div>
    <div class="bv-example-row container-fluid" style="width: calc(100% - 200px);">
        <div class="row">
            <div class="col-md-6">
                <div class="my-1 col-md-12">
                    <h3>Categorias</h3> <br>
                    <fieldset id="__BVID__5" role="group" aria-labelledby="__BVID__5__BV_label_"
                        class="mb-0 b-form-group form-group">
                        <div class="form-row">
                            <legend id="__BVID__5__BV_label_" class="col-sm-3 col-form-label">Buscar</legend>
                            <div role="group" aria-labelledby="__BVID__5__BV_label_" class="col-sm-9">
                                <div role="group" class="input-group"><input id="__BVID__6" type="text"
                                        placeholder="Buscar" class="form-control">
                                    <div class="input-group-append"><button type="button" disabled="disabled"
                                            class="btn btn-secondary disabled">Limpiar</button></div>
                                </div><!----><!----><!---->
                            </div>
                        </div>
                    </fieldset> <br>
                </div>
                <table id="my-table" aria-busy="false" aria-colcount="7"
                    class="table b-table table-striped table-hover table-sm"><!----><!---->
                    <thead class="">
                        <tr>
                            <th tabindex="0" aria-colindex="1" aria-label="Click to sort Descending" class="sorting">Id
                            </th>
                            <th tabindex="0" aria-colindex="2" aria-label="Click to sort Descending" class="sorting">
                                Categoría</th>
                            <th tabindex="0" aria-colindex="3" aria-label="Click to sort Descending" class="sorting">
                                Impresora Asignada</th>
                            <th tabindex="0" aria-colindex="4" aria-label="Click to sort Descending"
                                class="sorting text-center">Mostrar en Delivery</th>
                            <th tabindex="0" aria-colindex="5" aria-label="Click to sort Descending"
                                class="sorting text-center">Mostrar en P. de Venta</th>
                            <th tabindex="0" aria-colindex="6" aria-label="Click to sort Descending"
                                class="sorting text-center">Orden P. de Venta</th>
                            <th aria-colindex="7" class="text-center">Oferta APP</th>
                        </tr>
                    </thead><!---->
                    <tbody class=""><!---->
                        <tr aria-rowindex="1" class="">
                            <td aria-colindex="1" class="">256</td>
                            <td aria-colindex="2" class="">LIQUIDO CADENA</td>
                            <td aria-colindex="3" class=""><label style="color: red; font-weight: bold;">No
                                    asignado</label></td>
                            <td aria-colindex="4" class="text-center"><span class="badge badge-danger">NO</span></td>
                            <td aria-colindex="5" class="text-center"><span class="badge badge-danger">NO</span></td>
                            <td aria-colindex="6" class="text-center"><label>---</label></td>
                            <td aria-colindex="7" class="text-center"><label>---</label></td>
                        </tr>
                        <tr aria-rowindex="2" class="">
                            <td aria-colindex="1" class="">1</td>
                            <td aria-colindex="2" class="">FOCOS LED</td>
                            <td aria-colindex="3" class=""><label style="color: red; font-weight: bold;">No
                                    asignado</label></td>
                            <td aria-colindex="4" class="text-center"><span class="badge badge-danger">NO</span></td>
                            <td aria-colindex="5" class="text-center"><span class="badge badge-danger">NO</span></td>
                            <td aria-colindex="6" class="text-center"><label>---</label></td>
                            <td aria-colindex="7" class="text-center"><label>---</label></td>
                        </tr>
                        <tr aria-rowindex="3" class="">
                            <td aria-colindex="1" class="">257</td>
                            <td aria-colindex="2" class="">PROTECTORES CORPORAL</td>
                            <td aria-colindex="3" class=""><label style="color: red; font-weight: bold;">No
                                    asignado</label></td>
                            <td aria-colindex="4" class="text-center"><span class="badge badge-danger">NO</span></td>
                            <td aria-colindex="5" class="text-center"><span class="badge badge-danger">NO</span></td>
                            <td aria-colindex="6" class="text-center"><label>---</label></td>
                            <td aria-colindex="7" class="text-center"><label>---</label></td>
                        </tr>
                        <tr aria-rowindex="4" class="">
                            <td aria-colindex="1" class="">2</td>
                            <td aria-colindex="2" class="">CATALINAS</td>
                            <td aria-colindex="3" class=""><label style="color: red; font-weight: bold;">No
                                    asignado</label></td>
                            <td aria-colindex="4" class="text-center"><span class="badge badge-danger">NO</span></td>
                            <td aria-colindex="5" class="text-center"><span class="badge badge-danger">NO</span></td>
                            <td aria-colindex="6" class="text-center"><label>---</label></td>
                            <td aria-colindex="7" class="text-center"><label>---</label></td>
                        </tr>
                        <tr aria-rowindex="5" class="">
                            <td aria-colindex="1" class="">258</td>
                            <td aria-colindex="2" class="">RADIADOR</td>
                            <td aria-colindex="3" class=""><label style="color: red; font-weight: bold;">No
                                    asignado</label></td>
                            <td aria-colindex="4" class="text-center"><span class="badge badge-danger">NO</span></td>
                            <td aria-colindex="5" class="text-center"><span class="badge badge-danger">NO</span></td>
                            <td aria-colindex="6" class="text-center"><label>---</label></td>
                            <td aria-colindex="7" class="text-center"><label>---</label></td>
                        </tr>
                        <tr aria-rowindex="6" class="">
                            <td aria-colindex="1" class="">3</td>
                            <td aria-colindex="2" class="">PIÑONES</td>
                            <td aria-colindex="3" class=""><label style="color: red; font-weight: bold;">No
                                    asignado</label></td>
                            <td aria-colindex="4" class="text-center"><span class="badge badge-danger">NO</span></td>
                            <td aria-colindex="5" class="text-center"><span class="badge badge-danger">NO</span></td>
                            <td aria-colindex="6" class="text-center"><label>---</label></td>
                            <td aria-colindex="7" class="text-center"><label>---</label></td>
                        </tr>
                        <tr aria-rowindex="7" class="">
                            <td aria-colindex="1" class="">259</td>
                            <td aria-colindex="2" class="">CADENA LEVAS</td>
                            <td aria-colindex="3" class=""><label style="color: red; font-weight: bold;">No
                                    asignado</label></td>
                            <td aria-colindex="4" class="text-center"><span class="badge badge-danger">NO</span></td>
                            <td aria-colindex="5" class="text-center"><span class="badge badge-danger">NO</span></td>
                            <td aria-colindex="6" class="text-center"><label>---</label></td>
                            <td aria-colindex="7" class="text-center"><label>---</label></td>
                        </tr>
                        <tr aria-rowindex="8" class="">
                            <td aria-colindex="1" class="">4</td>
                            <td aria-colindex="2" class="">S/C</td>
                            <td aria-colindex="3" class=""><label style="color: red; font-weight: bold;">No
                                    asignado</label></td>
                            <td aria-colindex="4" class="text-center"><span class="badge badge-danger">NO</span></td>
                            <td aria-colindex="5" class="text-center"><span class="badge badge-danger">NO</span></td>
                            <td aria-colindex="6" class="text-center"><label>---</label></td>
                            <td aria-colindex="7" class="text-center"><label>---</label></td>
                        </tr>
                        <tr aria-rowindex="9" class="">
                            <td aria-colindex="1" class="">5</td>
                            <td aria-colindex="2" class="">SEGUROS</td>
                            <td aria-colindex="3" class=""><label style="color: red; font-weight: bold;">No
                                    asignado</label></td>
                            <td aria-colindex="4" class="text-center"><span class="badge badge-danger">NO</span></td>
                            <td aria-colindex="5" class="text-center"><span class="badge badge-danger">NO</span></td>
                            <td aria-colindex="6" class="text-center"><label>---</label></td>
                            <td aria-colindex="7" class="text-center"><label>---</label></td>
                        </tr>
                        <tr aria-rowindex="10" class="">
                            <td aria-colindex="1" class="">6</td>
                            <td aria-colindex="2" class="">ANILLOS PISTON</td>
                            <td aria-colindex="3" class=""><label style="color: red; font-weight: bold;">No
                                    asignado</label></td>
                            <td aria-colindex="4" class="text-center"><span class="badge badge-danger">NO</span></td>
                            <td aria-colindex="5" class="text-center"><span class="badge badge-danger">NO</span></td>
                            <td aria-colindex="6" class="text-center"><label>---</label></td>
                            <td aria-colindex="7" class="text-center"><label>---</label></td>
                        </tr><!----><!---->
                    </tbody>
                </table>
                <div class="row">
                    <div class="my-1 col-md-6">
                        <ul role="menubar" aria-disabled="false" aria-label="Pagination"
                            class="my-0 pagination b-pagination pagination-md">
                            <li role="none presentation" aria-hidden="true" class="page-item disabled"><span
                                    class="page-link">«</span></li>
                            <li role="none presentation" aria-hidden="true" class="page-item disabled"><span
                                    class="page-link">‹</span></li><!---->
                            <li role="none presentation" class="page-item active"><a role="menuitemradio" tabindex="0"
                                    aria-label="Goto page 1" aria-checked="true" aria-posinset="1" aria-setsize="26"
                                    href="#" target="_self" class="page-link btn-primary">1</a></li>
                            <li role="none presentation" class="page-item"><a role="menuitemradio" tabindex="-1"
                                    aria-label="Goto page 2" aria-checked="false" aria-posinset="2" aria-setsize="26"
                                    href="#" target="_self" class="page-link">2</a></li>
                            <li role="none presentation" class="page-item"><a role="menuitemradio" tabindex="-1"
                                    aria-label="Goto page 3" aria-checked="false" aria-posinset="3" aria-setsize="26"
                                    href="#" target="_self" class="page-link">3</a></li>
                            <li role="none presentation" class="page-item d-none d-sm-flex"><a role="menuitemradio"
                                    tabindex="-1" aria-label="Goto page 4" aria-checked="false" aria-posinset="4"
                                    aria-setsize="26" href="#" target="_self" class="page-link">4</a></li>
                            <li role="separator" class="page-item disabled d-none d-sm-flex"><span
                                    class="page-link">…</span></li>
                            <li role="none presentation" class="page-item"><a role="menuitem" tabindex="-1"
                                    aria-label="Goto next page" href="#" target="_self" class="page-link"><span
                                        aria-hidden="true">›</span></a></li>
                            <li role="none presentation" class="page-item"><a role="menuitem" tabindex="-1"
                                    aria-label="Goto last page" href="#" target="_self" class="page-link"><span
                                        aria-hidden="true">»</span></a></li>
                        </ul>
                    </div>
                </div> <br>
                <div class="row text-center justify-content-center">
                    <div class="col-4"><button type="button" class="btn btn-success btn-xl">Nueva Categoria</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="my-1 col-md-12">
                    <h3>Impresoras</h3> <br>
                    <fieldset id="__BVID__9" role="group" aria-labelledby="__BVID__9__BV_label_"
                        class="mb-0 b-form-group form-group">
                        <div class="form-row">
                            <legend id="__BVID__9__BV_label_" class="col-sm-3 col-form-label">Buscar</legend>
                            <div role="group" aria-labelledby="__BVID__9__BV_label_" class="col-sm-9">
                                <div role="group" class="input-group"><input id="__BVID__10" type="text"
                                        placeholder="Buscar" class="form-control">
                                    <div class="input-group-append"><button type="button" disabled="disabled"
                                            class="btn btn-secondary disabled">Limpiar</button></div>
                                </div><!----><!----><!---->
                            </div>
                        </div>
                    </fieldset> <br>
                </div>
                <table id="my-table" aria-busy="false" aria-colcount="5"
                    class="table b-table table-striped table-hover table-sm"><!----><!---->
                    <thead class="">
                        <tr>
                            <th tabindex="0" aria-colindex="1" aria-label="Click to sort Descending"
                                aria-sort="ascending" class="sorting sorting_asc">Codigo</th>
                            <th tabindex="0" aria-colindex="2" aria-label="Click to sort Descending" class="sorting">
                                Nombre</th>
                            <th tabindex="0" aria-colindex="3" aria-label="Click to sort Descending" class="sorting">
                                Direccion IP</th>
                            <th tabindex="0" aria-colindex="4" aria-label="Click to sort Descending" class="sorting">
                                Puerto</th>
                            <th aria-colindex="5" class="">Es Cocina</th>
                        </tr>
                    </thead><!---->
                    <tbody class=""><!---->
                        <tr aria-rowindex="1" class="">
                            <td aria-colindex="1" class="">1</td>
                            <td aria-colindex="2" class="">PUNTO DE VENTA</td>
                            <td aria-colindex="3" class="">192.168.0.3</td>
                            <td aria-colindex="4" class="">9100</td>
                            <td aria-colindex="5" class="">
                                <div class="text-center"><span class="badge badge-danger">NO</span></div>
                            </td>
                        </tr><!----><!---->
                    </tbody>
                </table>
                <div class="row">
                    <div class="my-1 col-md-6">
                        <ul role="menubar" aria-disabled="false" aria-label="Pagination"
                            class="my-0 pagination b-pagination pagination-md">
                            <li role="none presentation" aria-hidden="true" class="page-item disabled"><span
                                    class="page-link">«</span></li>
                            <li role="none presentation" aria-hidden="true" class="page-item disabled"><span
                                    class="page-link">‹</span></li><!---->
                            <li role="none presentation" class="page-item active"><a role="menuitemradio" tabindex="0"
                                    aria-label="Goto page 1" aria-checked="true" aria-posinset="1" aria-setsize="1"
                                    href="#" target="_self" class="page-link btn-primary">1</a></li><!---->
                            <li role="none presentation" class="page-item disabled" aria-hidden="true"><span
                                    class="page-link">›</span></li>
                            <li role="none presentation" class="page-item disabled" aria-hidden="true"><span
                                    class="page-link">»</span></li>
                        </ul>
                    </div>
                </div> <br>
                <div class="row text-center justify-content-center">
                    <div class="col-4"><button type="button" class="btn btn-success btn-xl">Nueva Impresora</button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <form autocomplete="off" class="">
                <div>
                    <div id="modalProducto___BV_modal_outer_">
                        <div id="modalProducto" role="dialog" aria-hidden="true" class="modal fade"
                            style="display: none;">
                            <div class="modal-dialog modal-lg">
                                <div tabindex="-1" role="document" aria-labelledby="modalProducto___BV_modal_header_"
                                    aria-describedby="modalProducto___BV_modal_body_" class="modal-content">
                                    <header id="modalProducto___BV_modal_header_" class="modal-header">
                                        <h5 class="modal-title">Nueva Categoria</h5><button type="button"
                                            aria-label="Close" class="close">×</button>
                                    </header>
                                    <div id="modalProducto___BV_modal_body_" class="modal-body">
                                        <div class="col-md-6">
                                            <fieldset id="__BVID__16" role="group" class="b-form-group form-group">
                                                <!---->
                                                <div role="group" class=""><label>Categoria:</label> <input
                                                        id="__BVID__17" type="text" required="required"
                                                        aria-required="true" class="form-control"><!----><!----><!---->
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-6">
                                            <fieldset id="__BVID__18" role="group" class="b-form-group form-group">
                                                <!---->
                                                <div role="group" class=""><label>Impresora:</label> <select
                                                        id="__BVID__19" required="required" aria-required="true"
                                                        class="mb-3 form-control form-control-md custom-select custom-select-md"></select><!----><!----><!---->
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="custom-control custom-checkbox custom-control-inline"><input
                                                    id="__BVID__20" type="checkbox" autocomplete="off" true-value="1"
                                                    false-value="0" class="custom-control-input" value="1"><label
                                                    for="__BVID__20" class="custom-control-label">
                                                    Mostrar en Delivery
                                                </label></div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="custom-control custom-checkbox custom-control-inline"><input
                                                    id="__BVID__21" type="checkbox" autocomplete="off" true-value="1"
                                                    false-value="0" class="custom-control-input" value="1"><label
                                                    for="__BVID__21" class="custom-control-label">
                                                    Mostrar en PuntoVenta
                                                </label></div>
                                        </div>
                                        <div class="col-md-6" style="margin-top: 10px;">
                                            <fieldset id="__BVID__22" role="group" class="b-form-group form-group">
                                                <!---->
                                                <div role="group" class=""><label>Orden:</label> <input id="__BVID__23"
                                                        type="number" required="required" aria-required="true"
                                                        class="form-control"><!----><!----><!----></div>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="custom-control custom-checkbox custom-control-inline"><input
                                                    id="__BVID__24" type="checkbox" autocomplete="off" true-value="1"
                                                    false-value="0" class="custom-control-input" value="1"><label
                                                    for="__BVID__24" class="custom-control-label">
                                                    Es Oferta
                                                </label></div>
                                        </div>
                                    </div>
                                    <footer id="modalProducto___BV_modal_footer_" class="modal-footer">
                                        <div><button type="submit" class="btn btn-primary">
                                                Guardar
                                            </button> <button type="button" class="btn btn-secondary">
                                                Cerrar
                                            </button></div>
                                    </footer>
                                </div>
                            </div>
                        </div><!---->
                    </div>
                </div>
            </form>
        </div>
        <div>
            <form autocomplete="off" class="">
                <div>
                    <div id="modalProducto___BV_modal_outer_">
                        <div id="modalProducto" role="dialog" aria-hidden="true" class="modal fade"
                            style="display: none;">
                            <div class="modal-dialog modal-lg">
                                <div tabindex="-1" role="document" aria-labelledby="modalProducto___BV_modal_header_"
                                    aria-describedby="modalProducto___BV_modal_body_" class="modal-content">
                                    <header id="modalProducto___BV_modal_header_" class="modal-header">
                                        <h5 class="modal-title">Nueva Impresora</h5><button type="button"
                                            aria-label="Close" class="close">×</button>
                                    </header>
                                    <div id="modalProducto___BV_modal_body_" class="modal-body">
                                        <div class="col-md-6">
                                            <fieldset id="__BVID__28" role="group" class="b-form-group form-group">
                                                <!---->
                                                <div role="group" class=""><label>Nombre:</label> <input id="__BVID__29"
                                                        type="text" required="required" aria-required="true"
                                                        class="form-control"><!----><!----><!----></div>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-6">
                                            <fieldset id="__BVID__30" role="group" class="b-form-group form-group">
                                                <!---->
                                                <div role="group" class=""><label>Direccion IP:</label> <input
                                                        id="__BVID__31" type="text" required="required"
                                                        aria-required="true" class="form-control"><!----><!----><!---->
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-6">
                                            <fieldset id="__BVID__32" role="group" class="b-form-group form-group">
                                                <!---->
                                                <div role="group" class=""><label>Puerto:</label> <input id="__BVID__33"
                                                        type="number" required="required" aria-required="true"
                                                        class="form-control"><!----><!----><!----></div>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="custom-control custom-checkbox custom-control-inline"><input
                                                    id="__BVID__34" type="checkbox" autocomplete="off" true-value="1"
                                                    false-value="0" class="custom-control-input" value="1"><label
                                                    for="__BVID__34" class="custom-control-label">
                                                    Es Cocina
                                                </label></div>
                                        </div>
                                    </div>
                                    <footer id="modalProducto___BV_modal_footer_" class="modal-footer">
                                        <div><button type="submit" class="btn btn-primary">
                                                Guardar
                                            </button> <button type="button" class="btn btn-secondary">
                                                Cerrar
                                            </button></div>
                                    </footer>
                                </div>
                            </div>
                        </div><!---->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>