<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">HELIXUS</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor01"
      aria-controls="navbarColor01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href=""
            >Gestion</a
          >
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/producto" >Producto</a>
            <a class="dropdown-item" routerLink="/categorias_marcas">Categoria/Marcas</a>
            <a class="dropdown-item" routerLink="/clientes">Clientes</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href=""
            >Venta</a
          >
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/venta">Punto de Venta</a>
            <a class="dropdown-item" routerLink="/detalleventa">Registro de Ventas</a
            >
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pedidos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reportes</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            href="#"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            >Caja</a
          >
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/producto">Caja</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Configuracion</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#">Salir</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
