<div>
  <div class="bv-example-row container">
    <div class="row">
      <div class="my-1 col-md-6">
        <fieldset id="__BVID__5" role="group" aria-labelledby="__BVID__5__BV_label_"
          class="mb-0 b-form-group form-group">
          <div class="form-row">
            <legend id="__BVID__5__BV_label_" class="col-sm-3 col-form-label">
              Buscar
            </legend>
            <div role="group" aria-labelledby="__BVID__5__BV_label_" class="col-sm-9">
              <div role="group" class="input-group">
                <input id="__BVID__6" type="text" placeholder="Buscar" class="form-control" />
                <div class="input-group-append">
                  <button type="button" disabled="disabled" class="btn btn-secondary disabled">
                    Limpiar
                  </button>
                </div>
              </div>
              <!----><!----><!---->
            </div>
          </div>
        </fieldset>
        <br />
      </div>
      <div class="my-1 col-md-6">
        <div class="row">
          <div class="col-md-8">
            <fieldset id="__BVID__7" role="group" aria-labelledby="__BVID__7__BV_label_"
              class="mb-0 b-form-group form-group">
              <div class="form-row">
                <legend id="__BVID__7__BV_label_" class="col-sm-3 col-form-label">
                  Mostrar
                </legend>
                <div role="group" aria-labelledby="__BVID__7__BV_label_" class="col-sm-9">
                  <select id="__BVID__8" class="form-control custom-select">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select><!----><!----><!---->
                </div>
              </div>
            </fieldset>
          </div>
          <div class="col-md-4">
            <p style="margin-top: 6px">
              de <b class="text-success">   </b> Artículos
            </p>
          </div>
        </div>
      </div>
      <table id="my-table" aria-busy="false" aria-colcount="6" class="table b-table table-striped table-hover table-sm">
        <!----><!---->
        <thead class="">
          <tr>
            <th>Codigo</th>
            <th>Producto</th>
            <th>Categoría</th>
            <th>Marca</th>
            <th>Medición</th>
            <th>Stock</th>

          </tr>
        </thead>
        <!---->
        <tbody>
          <tr *ngFor="let item of ListProductos" class="table-sm"  >
            <!---->
            <td >{{ item.Barcode }}</td>
            <td >{{ item.Nombre }}</td>
            <td >{{ item.CategoriaID }}</td>
            <td >{{ item.MarcaID }}</td>
            <td >{{ item.Medida }}</td>
            <td >{{ item.Stock }}</td>
           <td>
            <button data-bs-toggle="modal" data-bs-target="#exampleModal"  (click)="modalregister.toggleAttribute"  type="submit" class="btn btn-primary " (click)="getProduct(item.id!)">edit</button>
            <button (click)="deleteProduct(item.id!)" type="submit" class="btn btn-danger btn-close"></button>
          </td>
          </tr>
          
          <!----><!---->
        </tbody>
      </table>
      <div class="row">
        <div class="my-1 col-md-6">
          <ul role="menubar" aria-disabled="false" aria-label="Pagination"
            class="my-0 pagination b-pagination pagination-md">
            <li role="none presentation" class="page-item">
              <a role="menuitem" tabindex="-1" aria-label="Goto first page" href="#" target="_self"
                class="page-link"><span aria-hidden="true">«</span></a>
            </li>
            <li role="none presentation" class="page-item">
              <a role="menuitem" tabindex="-1" aria-label="Goto previous page" href="#" target="_self"
                class="page-link"><span aria-hidden="true">‹</span></a>
            </li>
            <!---->
            <li role="none presentation" class="page-item">
              <a role="menuitemradio" tabindex="-1" aria-label="Goto page 1" aria-checked="false" aria-posinset="1"
                aria-setsize="436" href="#" target="_self" class="page-link">1</a>
            </li>
            <li role="none presentation" class="page-item active">
              <a role="menuitemradio" tabindex="0" aria-label="Goto page 2" aria-checked="true" aria-posinset="2"
                aria-setsize="436" href="#" target="_self" class="page-link btn-primary">2</a>
            </li>
            <li role="none presentation" class="page-item">
              <a role="menuitemradio" tabindex="-1" aria-label="Goto page 3" aria-checked="false" aria-posinset="3"
                aria-setsize="436" href="#" target="_self" class="page-link">3</a>
            </li>
            <li role="none presentation" class="page-item d-none d-sm-flex">
              <a role="menuitemradio" tabindex="-1" aria-label="Goto page 4" aria-checked="false" aria-posinset="4"
                aria-setsize="436" href="#" target="_self" class="page-link">4</a>
            </li>
            <li role="separator" class="page-item disabled d-none d-sm-flex">
              <span class="page-link">…</span>
            </li>
            <li role="none presentation" class="page-item">
              <a role="menuitem" tabindex="-1" aria-label="Goto next page" href="#" target="_self"
                class="page-link"><span aria-hidden="true">›</span></a>
            </li>
            <li role="none presentation" class="page-item">
              <a role="menuitem" tabindex="-1" aria-label="Goto last page" href="#" target="_self"
                class="page-link"><span aria-hidden="true">»</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <div class="center">
        <div class="col-15">
          <button type="button" class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="modalregister.toggleAttribute">
            Nuevo
          </button>
        </div>
      </div>

      <!---->
     
      <div class="show modal fade" #modalregister id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
        <div class="modal-dialog bg-secondary mb-3" style="max-width: 65rem">
         
          <div class="modal-content">
            <div class="modal-header">
              <div class="card-header text-center" >{{operacion}} Producto</div>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
      
              <div id="modalProducto___BV_modal_body_" class="modal-body">
               <form [formGroup]="form" (ngSubmit)="addProductos()">
                <div class="row">
                  <div class="col-md-6">
                    <fieldset id="__BVID__14" role="group" class="b-form-group form-group">
                      <div role="group" class="mb-3">
                       
                        <label>Código barra:</label>
                        <input formControlName="Barcode" type="text" class="form-control "  />
                        <span *ngIf="form.get('Barcode')?.hasError('required') && form.get('Barcode')?.touched"> </span>
                        <small class="form-text text-muted">Dejar en blanco para generar el codigo de barra
                        </small>
                        <!----><!----><!---->
                      </div>
                    </fieldset>
                    <fieldset id="__BVID__16" role="group" class="b-form-group form-group">
                      <!---->
                      <div role="group" class="mb-3">
                        <label>Categoría:</label>
                        <div role="group" class="input-group">
                          <div class="autocomplete-wrapper">
                            <input formControlName="CategoriaID" type="text" autocomplete="off" class="form-control upper autocomplete-input"
                              required="true" />
                              <span *ngIf="form.get('CategoriaID')?.hasError('required') && form.get('CategoriaID')?.touched"> </span>

                            <div class="autocomplete autocomplete-list" style="display: none">
                              <ul></ul>
                            </div>
                          </div>
                          <div class="input-group-append">
                            <button type="button" class="btn btn-primary">
                              <b>Guardar</b>
                            </button>
                          </div>
                        </div>
                        <!----><!----><!---->
                      </div>
                    </fieldset>
                    <fieldset id="__BVID__18" role="group" class="b-form-group form-group">
                      <!---->
                      <div role="group" class="mb-3">
                        <label>Marca:</label>
                        <div role="group" class="input-group">
                          <div class="autocomplete-wrapper">
                            <input formControlName="MarcaID" type="text" autocomplete="off" class="form-control upper autocomplete-input"
                              required="true" />
                              <span *ngIf="form.get('MarcaID')?.hasError('required') && form.get('MarcaID')?.touched"> </span>

                            <div class="autocomplete autocomplete-list" style="display: none">
                              <ul></ul>
                            </div>
                          </div>
                          <div class="input-group-append">
                            <button type="button" class="btn btn-primary">
                              <b>Guardar</b>
                            </button>
                          </div>
                        </div>
                        <!----><!----><!---->
                      </div>
                    </fieldset>
                    <fieldset id="__BVID__20" role="group" class="b-form-group form-group">
                      <!---->
                      <div role="group" class="mb-3">
                        <label>Nombre Producto:</label>
                        <input formControlName="Nombre" id="__BVID__21" type="text" required="required" aria-required="true" value=""
                          class="form-control" />
                          <span *ngIf="form.get('Nombre')?.hasError('required') && form.get('Nombre')?.touched"> </span>

                        <!----><!----><!---->
                      </div>
                    </fieldset>
                    <fieldset id="__BVID__24" role="group" class="b-form-group form-group">
                      <!---->
                      <label class="mb-3">Imagen:</label>
                      <div role="group" class="mb-3">
                        <img src="/resources/images/productos/null" alt="" class="img-fluid" />
                        <input type="file" id="file" /><!----><!----><!---->
                      </div>
                    </fieldset>
                  </div>

                  <div class="col-md-6">
                    <fieldset id="__BVID__25" role="group" class="b-form-group form-group">
                      <!---->
                      <div class="col-sm-12" style="padding: 3.8%;">
                        
                        <select formControlName="Medida" class="form-select" id="specificSizeSelect">
                          <option value="" disabled selected>MEDIDA...</option>
                          <option value="UNIDAD">UNIDAD</option>
                          <option value="MTRS">MTRS</option>
                          <option value="CAJA">CAJA</option>
                          <option value="DISPLAY">DISPLAY</option>
                         
                          <!-- Aquí puedes agregar más opciones según sea necesario -->
                        </select>
                        <label *ngIf="form.get('Medida')?.hasError('required') && form.get('Medida')?.touched">Este campo es requerido</label>
                      </div>
                    </fieldset>
                    <fieldset id="__BVID__27" role="group" class="b-form-group form-group">
                      <!---->
                      <div role="group" class="col-sm-5">
                        <label>Stock de Inicio</label>
                        <input formControlName="Stock" required="required" type="number" min="0" step="0.0001"
                          class="form-control" />
                          <span *ngIf="form.get('Stock')?.hasError('required') && form.get('Stock')?.touched"> </span>

                          <!----><!----><!---->
                      </div>
                    </fieldset>
                    <fieldset id="__BVID__28" role="group" class="b-form-group form-group">
                      <!---->
                      
                    </fieldset>
                  </div>

                </div>
                <div class="row">
                  <div class="col-md-6">
                    <fieldset id="__BVID__35" role="group" class="b-form-group form-group">
                      <!---->
                      <div role="group" class="mb-3">
                        <label>Precio de Costo:</label>
                        <input formControlName="Pcosto" step="0.00001" type="number" class="form-control" />
                        <span *ngIf="form.get('Pcosto')?.hasError('required') && form.get('Pcosto')?.touched"> </span>

                        <!----><!----><!---->
                      </div>
                    </fieldset>
                  </div>
                  <!---->
                  <div class="col-md-6">
                    <fieldset id="__BVID__36" role="group" class="b-form-group form-group">
                      <!---->
                      <div role="group" class="mb-3">
                        <label>Precio Público:</label>
                        <input formControlName="Pventa" type="number" step="0.01" class="form-control" />
                        <span *ngIf="form.get('Pventa')?.hasError('required') && form.get('Pventa')?.touched"> </span>

                        <!----><!----><!----><!---->
                      </div>
                    </fieldset>
                  </div>
                  <!---->
                </div>
              
               
                <fieldset id="__BVID__37" role="group" class="b-form-group form-group">
                  <!---->
                  <div role="group" class="mb-3">
                    <hr />
                    <div class="row">
                      <div class="col-md-3">
                        <div class="card text-center">
                          <div class="card-header">
                            <div>Presentacion 1</div>
                          </div>
                          <div class="card-body">
                            <fieldset id="__BVID__38" role="group" class="b-form-group form-group">
                              <!---->
                              <div role="group" class="">
                                <input id="__BVID__39" type="text" value="NOMBRE 1" class="form-control" style="
                                    text-transform: uppercase;
                                    font-weight: bold;
                                  " /><!----><!----><!---->
                              </div>
                            </fieldset>
                            <fieldset id="__BVID__40" role="group" class="text-left b-form-group form-group">
                              <!---->
                              <div role="group" class="">
                                <label>Cantidad:</label>
                                <input type="number" step="0.01" class="form-control" /><!----><!----><!---->
                              </div>
                            </fieldset>
                            <fieldset id="__BVID__41" role="group" class="text-left b-form-group form-group">
                              <!---->
                              <div role="group" class="">
                                <label>Precio Costo:</label>
                                <input type="number" step="0.0001" class="form-control" /><!----><!----><!---->
                              </div>
                            </fieldset>
                            <fieldset id="__BVID__42" role="group" class="text-left b-form-group form-group">
                              <!---->
                              <div role="group" class="">
                                <label>Precio Venta:</label>
                                <input type="number" step="0.0001" class="form-control" /><!----><!----><!---->
                              </div>
                            </fieldset>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="card text-center">
                          <div class="card-header">
                            <div>Presentacion 2</div>
                          </div>
                          <div class="card-body">
                            <fieldset id="__BVID__43" role="group" class="b-form-group form-group">
                              <!---->
                              <div role="group" class="">
                                <input id="__BVID__44" type="text" value="NOMBRE 2" class="form-control" style="
                                    text-transform: uppercase;
                                    font-weight: bold;
                                  " /><!----><!----><!---->
                              </div>
                            </fieldset>
                            <fieldset id="__BVID__45" role="group" class="text-left b-form-group form-group">
                              <!---->
                              <div role="group" class="">
                                <label>Cantidad:</label>
                                <input type="number" step="0.01" class="form-control" /><!----><!----><!---->
                              </div>
                            </fieldset>
                            <fieldset id="__BVID__46" role="group" class="text-left b-form-group form-group">
                              <!---->
                              <div role="group" class="">
                                <label>Precio Costo:</label>
                                <input type="number" step="0.0001" class="form-control" /><!----><!----><!---->
                              </div>
                            </fieldset>
                            <fieldset id="__BVID__47" role="group" class="text-left b-form-group form-group">
                              <!---->
                              <div role="group" class="">
                                <label>Precio Venta:</label>
                                <input type="number" step="0.0001" class="form-control" /><!----><!----><!---->
                              </div>
                            </fieldset>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="card text-center">
                          <div class="card-header">
                            <div>Presentacion 3</div>
                          </div>
                          <div class="card-body">
                            <fieldset id="__BVID__48" role="group" class="b-form-group form-group">
                              <!---->
                              <div role="group" class="">
                                <input id="__BVID__49" type="text" value="NOMBRE 3" class="form-control" style="
                                    text-transform: uppercase;
                                    font-weight: bold;
                                  " /><!----><!----><!---->
                              </div>
                            </fieldset>
                            <fieldset id="__BVID__50" role="group" class="text-left b-form-group form-group">
                              <!---->
                              <div role="group" class="">
                                <label>Cantidad:</label>
                                <input type="number" step="0.01" class="form-control" /><!----><!----><!---->
                              </div>
                            </fieldset>
                            <fieldset id="__BVID__51" role="group" class="text-left b-form-group form-group">
                              <!---->
                              <div role="group" class="">
                                <label>Precio Costo:</label>
                                <input type="number" step="0.0001" class="form-control" /><!----><!----><!---->
                              </div>
                            </fieldset>
                            <fieldset id="__BVID__52" role="group" class="text-left b-form-group form-group">
                              <!---->
                              <div role="group" class="">
                                <label>Precio Venta:</label>
                                <input type="number" step="0.0001" class="form-control" /><!----><!----><!---->
                              </div>
                            </fieldset>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="card text-center">
                          <div class="card-header">
                            <div>Presentacion 4</div>
                          </div>
                          <div class="card-body">
                            <fieldset id="__BVID__53" role="group" class="b-form-group form-group">
                              <!---->
                              <div role="group" class="">
                                <input id="__BVID__54" type="text" value="NOMBRE 4" class="form-control" style="
                                    text-transform: uppercase;
                                    font-weight: bold;
                                  " /><!----><!----><!---->
                              </div>
                            </fieldset>
                            <fieldset id="__BVID__55" role="group" class="text-left b-form-group form-group">
                              <!---->
                              <div role="group" class="">
                                <label>Cantidad:</label>
                                <input type="number" step="0.01" class="form-control" /><!----><!----><!---->
                              </div>
                            </fieldset>
                            <fieldset id="__BVID__56" role="group" class="text-left b-form-group form-group">
                              <!---->
                              <div role="group" class="">
                                <label>Precio Costo:</label>
                                <input type="number" step="0.0001" class="form-control" /><!----><!----><!---->
                              </div>
                            </fieldset>
                            <fieldset id="__BVID__57" role="group" class="text-left b-form-group form-group">
                              <!---->
                              <div role="group" class="">
                                <label>Precio Venta:</label>
                                <input type="number" step="0.0001" class="form-control" /><!----><!----><!---->
                              </div>
                            </fieldset>
                            
                          </div>
                       
                        </div>
                      </div>
                      
                    </div>
                  
                    <!----><!----><!---->
                  </div>
                </fieldset>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                  </button>
                </div>
              </form>
              </div>
            
          </div>
      
        </div>
  
      </div>

  
    </div>
    
  </div>
