<div class="bt-panel">
	<div class="container center_div">
		<div class="row">
			<div class="col-md-4 form-group">
				<label>Fecha Inicio</label>
				<input type="date" id="fechaIni" class="form-control">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 form-group">
				<label>Fecha Final</label>
				<input type="date" id="fechaFinal" class="form-control">
			</div>
			<div class="col-md-4 form-group">
				<div class="checkbox">
  					<label><input id="sinNota" type="checkbox">Sin Nota de Venta</label>
				</div>
				<div class="checkbox">
  					<label><input id="declarado" type="checkbox">Declarado</label>
				</div>
			</div>
		</div>
	</div>
	<div class="pull-right">
		<button type="button" id="btnGenerar" class="btn btn-success">Generar</button>
	</div>
	<br>
	<hr>
	<div class="panel panel-success">
		<div class="panel panel-heading">
			<div class="form-inline">
			<label class="">REGISTRO DE VENTA </label>
			<!-- <input type="text" class="form-control"> -->
			</div>
		</div>
		<table id="tableRegVenta" class="table table-bordered table-striped">
			<thead>
				<tr><th># DocVenta</th>
				<th>Vendedor</th>
         		<th>FechaDoc</th>
         		<th>Codigo Sunat</th>
         		<th>TipoDoc</th>
						<th>Anulado</th>
				<th>Serie</th>
				<th>Numero</th>
				<th>Sub Total</th>
				<th>Igv</th>
				<th>Total</th>
			</tr></thead>
			<tbody></tbody>
		</table>
	</div>
	<div class="container">

	<!-- <div class="row">
		<div class="col-md-5 form-inline pull-right">
			<label class="">Sub Total</label>
			<input type="text" class="form-control" id="txtSubTotal">
		</div>
	</div> -->
	<div class="row">
		<div class="col-md-5 form-inline pull-right">
			<label class="">Total</label>
			<input type="text" class="form-control" id="txtTotal">
		</div>
	</div>

</div>
</div>